

<div class="block" id="block-text">
	<div class="secondary-navigation">
		<ul class="wat-cf">
			<li class="active"><%= link_to 'Todos', galerias_path %></li>
			<li><%= link_to 'Nueva Imagen', new_galeria_path %></li>
		</ul>
	</div>
	<div class="content">
		<h2>Lista de Imagenes</h2>
		<div class="inner">
			
                       <table class="table">
			 <tr>
			  <th>Imagen</th>
			  <th>Titulo</th>
			  <th>Descripcion</th>
			  <th>Acciones</th>
			</tr>
		      
		      <% @galerias.each do |galeria| %>
			<tr  class="<%= cycle("even", "odd") %>">
			      <td><%= image_tag galeria.fgaleria.url(:thumb) %></td>
			  <td><%=h link_to  galeria.titulo,galeria %></td>
			  <td><%=h galeria.descripcion %></td>
			  <td>
			  <%= link_to 'Editar', edit_galeria_path(galeria) %>
			  <%= link_to 'Eliminar', galeria, :confirm => 'Estas Seguro?', :method => :delete %></td>
			</tr>
		      <% end %>
		      </table>
                      
                     
			<br />


		</div>
	</div>
</div>