


<div class="block" id="block-text">
	<div class="secondary-navigation">
		<ul class="wat-cf">
			<li><%= link_to 'Todos', eventos_path %></li>
			<li><%= link_to 'Nueva Imagen', new_galeria_path %></li>
			<li class="active"><%= link_to "#{@galeria.titulo.capitalize}", "#" %></li>
			<li><%= link_to 'Editar', edit_galeria_path(@galeria) %></li>
		</ul>
	</div>
	<div class="content">
		<h2 class="title">
		  <%=h @galeria.titulo.capitalize %>
		</h2>
		<div class="inner">
			<p class="first">
			Imagen:<br />
				<%= image_tag @galeria.fgaleria.url(:thumb) %>
			</p>
			
			<p>
			  <b>Descripcion:</b>
			  <%=h @galeria.descripcion %>
			</p>
		</div>
	</div>
</div>