<div class="block" id="block-text">
	<div class="secondary-navigation">
		<ul class="wat-cf">
			<li><%= link_to 'Todos', fotos_path %></li>
			<li><%= link_to 'Nueva Foto', new_foto_path %></li>
			<li class="active"><%= link_to "Editando Imagen: #{@foto.titulo}", "#" %></li>
			
		</ul>
		
	</div>
	<div class="content">
		<h2 class="title">
			 <%=h @foto.titulo %>
		</h2>
		<div class="inner">
			<% form_for(@foto, :html => { :multipart => true }) do |f| %>

			  <%= f.error_messages %>

			  <p>
			    <%= f.label :titulo %><br />
			    <%= f.text_field :titulo %>
			  </p>
			  <p>
			    <%= f.label :imagen %><br />
			    <%= f.file_field :imagen %>
			  </p>
			  <p>
			    <%= f.submit 'Actualizar' %>
			  </p>
			<% end %>
		</div>
	</div>
</div>

