<h1>Listing fotos</h1>

<table>
  <tr>
    <th>Titulo</th>
  </tr>

<% @fotos.each do |foto| %>
  <tr>
    <td><%=h foto.titulo %></td>
    <td><%= link_to 'Show', foto %></td>
    <td><%= link_to 'Edit', edit_foto_path(foto) %></td>
    <td><%= link_to 'Destroy', foto, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New foto', new_foto_path %>