<script>	
		 $(document).ready(function(){
			$('#home').css({"visibility":"hidden"});
			$('#abo').css({"visibility":"visible"});
			$('#eve').css({"visibility":"hidden"});
			$('#gal').css({"visibility":"hidden"});
			$('#cont').css({"visibility":"hidden"});
			$('#1 span').css({"color":"white","font-family":"schoolbook N"});
			$('#2 span').css({"color":"black","font-family":"schoolbook N"});
			$('#3 span').css({"color":"white","font-family":"schoolbook N"});
			$('#4 span').css({"color":"white","font-family":"schoolbook N"});
			$('#5 span').css({"color":"white","font-family":"schoolbook N"});
			
			});

</script>

<div id="contentAbout">
  
  <div style="margin:auto; width:500px; height:180px; padding-top:10px;">
      
     <div id="loopedslider">
		<a href="#" class="previous" style=" width:27px; height:28px;margin-left:-50px; float:left; background-image:url(../images/flechaPrev.png); display:block; margin-top:76px;"></a>
		<div class="container">
			<div class="slides">
				<div>
                                        <%= image_tag("logoBlanco.png") %>
                                        <div style="width:1px; height:180px; position:absolute; margin-left:135px; margin-top:-190px; background-color:#99cc33;"></div>
					<p style="margin-top:-150px; margin-left:180px; width:300px;">Inspired by impressive clubs in Paris, Montreal, New York, Ibiza and Barcelona, we decided to finally offer an elegant, sensual and sophisticated nightclub with a unique ambience. </p>
                                     
				</div>
		                <div>
                                        <%= image_tag("logoBlanco.png") %>
                                        <div style="width:1px; height:180px; position:absolute; margin-left:135px; margin-top:-190px; background-color:#99cc33;"></div>
					<p style="margin-top:-165px; margin-left:180px; width:300px;">LA NUIT GlamClub<br/>Will be a sanctuary for all things precious the decor and design are no exception. Attention to detail abounds where combinations of rich textures and modern elements will create a harmoniously paired aesthetic.
</p>
                                     
				</div>
		                <div>
                                        <%= image_tag("logoBlanco.png") %>
                                        <div style="width:1px; height:180px; position:absolute; margin-left:135px; margin-top:-190px; background-color:#99cc33;"></div>
					<p style="margin-top:-155px; margin-left:180px; width:300px;">Through all this year, we have the joy to bring you a whole new concept of nightclubbing as never seen before. This year, our goal is to drop your jaws and take you to the peak point of fun & entertainment.</p>
                                     
				</div>
		                <div>
                                        <%= image_tag("logoBlanco.png") %>
                                        <div style="width:1px; height:180px; position:absolute; margin-left:135px; margin-top:-190px; background-color:#99cc33;"></div>
					<p style="margin-top:-150px; margin-left:180px; width:300px;">Initiate your inner soul... Saturate your every desire... LA NUIT GlamClub is where a trend in class, opulence and style come together.</p>
                                     
				</div>
                                <div>
                                        <%= image_tag("logoBlanco.png") %>
                                        <div style="width:1px; height:180px; position:absolute; margin-left:135px; margin-top:-190px; background-color:#99cc33;"></div>
					<p style="margin-top:-175px; margin-left:180px; width:300px;">A brand new concept in this Social Club and ultimate Joyride is what makes LA NUIT GlamClub; Leon's hottest venue. A design in decadence... A theme that highlights the good things in life... And a vibe that will soak within every pore of your body... Ultra modern - Ultra unique - Ultra Chic... For those who only want the very best. </p>
                                     
				</div>
                                <div>
                                        <%= image_tag("logoBlanco.png") %>
                                        <div style="width:1px; height:180px; position:absolute; margin-left:135px; margin-top:-190px; background-color:#99cc33;"></div>
					<p style="margin-top:-125px; margin-left:180px; width:300px; font-size:22pt;"><%= image_tag("titulo.png") %></p>
                                     
				</div>
                                
			</div>
		</div>
                
		<a href="#" class="next" style="width:27px; height:28px; margin-right:-50px; float:right; background-image:url(../images/flechaNext.png); display:block; margin-top:-146px;"></a>
	</div>
  
  </div>

</div>